<%= render :partial => "layouts/header", :locals => {:title => "About Us"}  %>

<section>
  <br>
  <br>
  <div class="container">
    <div class="row justify-content-center mb-5 pb-3">
      <div class="col-md-7 heading-section fadeInUp ftco-animated">
        <p>
        <h2> About us</h2>
        Welcome to Lendlord, your number one source for borrowing and lending items in the community. We're dedicated to giving you the very best service, with a focus on dependability, customer service and uniqueness.<br><br>
        Founded in 2018, Lendlord has come a long way from its beginnings in Toronto, Canada. When we first started out, our passion for allowing the community to share, by borrowing and lending, drove us to start this website. We now serve customers all over the world, and are thrilled to bring this website to all the communities.
        </p>
      </div>
    </div>
  </div>
</section>

<%= render "layouts/footer" %>
