<%= link_to "Home", root_path%>
<%= link_to "About Me", home_about_path%>
<%= link_to "Log In", home_login_path%>
<%= link_to "Sign Up", home_signup_path%>

<h1>About Us</h1>

<p>We are creating a new borrow/lending service!</p>
