<%= render :partial => "layouts/header", :locals => {:title => "Contact "}  %>

<section>
  <br>
  <br>
  <div class="container">
    <div class="row justify-content-center mb-5 pb-3">
      <div class="col-md-7 heading-section fadeInUp ftco-animated">
        <p>
        <h2>Contact Us</h2>
        <h3>Address:</h3>
        27 King's College Cir, Toronto, ON M5S
        <h3>Phone:</h3>
        <a href="tel://1234567920">+ 416 123 4567</a>
        <h3>Email:</h3>
        <a href="mailto:info@lendlord.com">info@lendlord.com</a>
        </p>
      </div>
    </div>
  </div>
</section>

<%= render "layouts/footer" %>