<%= render :partial => "layouts/header", :locals => {:title => "FAQ"}  %>

<section>
  <br>
  <br>
  <div class="container">
    <div class="row justify-content-center mb-5 pb-3">
      <div class="col-md-7 heading-section fadeInUp ftco-animated">
        <p>
        <h2>FAQ</h2><br>
        <h3>Q: Why Lendlord?</h3>

        We provide a platform where everyone in the community can borrow and lend items freely.<br><br>

        <h3>Q: How Lendlord works?</h3>

        Search from an item in the home page, click on it, and procede!.<br><br>

        <h3>Q: What are my deposit payment options?</h3>

        Currently, we only accept debit card through PayPal.<br><br>

        <h3>Q: What happens if I don't return the item?</h3>

        Your deposit will not be returned to you, and will be given to the lender (owner).<br><br>

        <h3>Q: Can I lend or borrow from someone who lives abroad or overseas?</h3>

        Yes, you can!. But keep in mind that you have to cover shipment and taxes costs.<br>

        </p>
      </div>
    </div>
  </div>
</section>

<%= render "layouts/footer" %>
