<%= render :partial => "layouts/header", :locals => {:title => "FAQ"}  %>

<section>
  <br>
  <br>
  <div class="container">
    <div class="row justify-content-center mb-5 pb-3">
      <div class="col-md-7 heading-section fadeInUp ftco-animated">
        <p>
        <h2>FAQ</h2>
        <h3>Q: Why Lendlord?</h3>

        We provide a platform where everyone in the community can borrow and lend items freely.

        <h3>Q: What are my deposit payment options?</h3>

        Currently, we accept PayPal.

        </p>
      </div>
    </div>
  </div>
</section>

<%= render "layouts/footer" %>