<%= render :partial => "layouts/header", :locals => {:title => "Discover"}  %>

<%= render "layouts/search_bar" %>

<section class="ftco-section bg-light">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-3">
      <div class="col-md-7 heading-section text-center">
        <h2 class="mb-4">See our latest items</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <a href="/search?utf8=✓&search=bike&location=" class="destination-entry img" style="background-image: url('/assets/bikes.jpg');">
          <div class="text text-center">
            <h3>Bikes</h3>
          </div>
        </a>
      </div>
      <div class="col-md-4">
        <a href="/search?utf8=✓&search=book&location=" class="destination-entry img" style="background-image: url('/assets/books.jpg');">
          <div class="text text-center">
            <h3>Books</h3>
          </div>
        </a>
      </div>
      <div class="col-md-4">
        <a href="/search?utf8=✓&search=supplies&location=" class="destination-entry img" style="background-image: url('/assets/supplies.jpg');">
          <div class="text text-center">
            <h3>Supplies</h3>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>


<%= render "layouts/footer" %>
