<%= render :partial => "layouts/header", :locals => {:title => "Search Results"}%>

<%= render "layouts/search_bar" %>

<br>
<br>
<h2 style="padding-left: 35%;padding-right: 35%;"><b>Item successfully removed</b></h2>
<br>
<br>

<%= render "layouts/more_items"%>
<br>

<%= render "layouts/footer" %>

