<%= render "layouts/single_header" %>

<div class="w3-card" style="margin-top:100px">
  <div style="overflow-x:auto;">
    <h2 class="w3-padding-16"><i class="fa fa-fw fa-sign-out w3-margin-right w3-text-teal"></i>My Items (<%= @items.count %>)</h2>
<section>
  <br>
  <br>
  <div class="parallax-img d-flex align-items-center" style="padding-left: 20%; padding-right: 20%;">

    <div class="destination">
        <div class="row">

          <% @items.each do |item| %>

            <div class="col-sm col-md-6 col-lg-4">
              <div class="destination">
                <%= render :partial => "items/show_single_item", :locals => {:item => item, :type => "user"}%>
              </div>
            </div>

          <% end %>

        </div>
    </div>
  </div>
  <br>
</section>
  </div>
</div>


<%= render "layouts/footer" %>
