// Place all the styles related to the personal_home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.w3-light-grey{
    color: #000!important;
    background-color: #f1f1f1!important;
    height: auto;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
}

.w3-margin-top{
    margin-top: 16px!important;
}

.w3-content{
    margin-left: auto;
    margin-right: auto;
}

.w3-row-padding{
    padding: 0 8px;
}

.w3-third{
    float: left;
    width: 33.3%;
    padding: 0 8px;
}

.w3-twothird{
    float: left;
    width: 66.6%;
    padding: 0 8px;
}

.w3-display-container{
    position: relative;
}

.w3-card-4{
    padding: 0.01em 16px;
    background-color: #fff !important;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
}

.w3-card{
    padding: 0.01em 16px;
    padding-bottom: 10px;
    min-height: 250px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    color: #000 !important;
    background-color: #fff !important;
}

.fa-fw{
    width: 1.2857em;
    text-align: center;
}

.fa{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.w3-text-teal{
    color: #009688 !important;
}

.w3-margin-right{
    margin-right: 16px !important;
}

.w3-large{
    font-size: 18px! important;
}

.w3-padding-16{
    padding-top: 16px !important;
    padding-bottom: 16px !important;
}

p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


