<section class="ftco-section-parallax">
  <div class="parallax-img d-flex align-items-center">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-md-7 text-center heading-section heading-section-white">
          <h2><%= link_to "Find More Items That You'll Love!", root_path, :style => "color: white;" %></h2>
          <div class="row">
            <div class="col-md-4">
              <a href="/search?utf8=✓&search=plant&location=" class="destination-entry img" style="background-image: url('/assets/plants.jpg');">
                <div class="text text-center">
                  <h3>Plants</h3>
                </div>
              </a>
            </div>
            <div class="col-md-4">
              <a href="/search?utf8=✓&search=home&location=" class="destination-entry img" style="background-image: url('/assets/home-decor.png');">
                <div class="text text-center">
                  <h3>Home Decor</h3>
                </div>
              </a>
            </div>
            <div class="col-md-4">
              <a href="/search?utf8=✓&search=art&location=" class="destination-entry img" style="background-image: url('/assets/art.jpg');">
                <div class="text text-center">
                  <h3>Artworks</h3>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>